.vscode/**
.vscode-test/**
.github/**
scripts/**
.editorconfig
.eslintignore
.eslintrc.js
.gitattributes
.gitignore
.markdownlint.json
README-DEVELOP.md

**/node_modules/
**/*.map
**/src/**
**/testFixture/
**/tsconfig.json
