# VSCode configuration
.vscode/**
.vscode-test/**

# Git(Hub) configuration
.github/**
.gitattributes
.gitignore

# dependencies
**/node_modules/

# General IDE and linting config
.editorconfig
.eslintignore
.eslintrc.js
.markdownlint.json
**/tsconfig.json
**/*.js

# unpackaged source and development
client
server
scripts/**
README-DEVELOP.md

# packaged source
!client/out/*.js
!server/out/*.js
